.artist {
  width: 100%;
  height: 100vh;
}

.artist_inner { 
  width: 100%;
  margin-top: var(--nav-height);
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 8rem;
}

.infos_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infos_header_image {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 2px solid var(--dark-gray);
}
.infos_header_title {
  font-size: 4rem;
}

.infos_header_line {
  width: 40%;
  height: 3px;
  border-radius: 2rem;
  background: var(--dark-gray);
}

.infos_header_follows {
  display: flex;
  gap: .5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.infos_header_follows > p {
  color: var(--gray);
}

.musics {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.musics_infos {
  width: 50%;
  height: 100%;
}

.musics_infos_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}


.image_container {
  width: 40%;
  height: 100%;
  position: absolute;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: -1;
  top: 0;
  right: 0;
}

.image_container img {
  width: 100%;
  height: 100%;

  aspect-ratio: 1/1;
  object-fit: cover;
}

.color_overlay {
  width: 100%;
  height: 100%;

  background: radial-gradient(circle at center right, transparent 30%,var(--very-dark-gray) 80%);

  position: absolute;
}
