.wrapper_modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.fade {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--black-opacity);
}

.modal {
  width: 50rem;
  height: 60rem;
  border-radius: 20px;
  background: var(--very-dark-gray);
  position: relative;
  overflow: hidden;
}

.modal_btn_close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--White);
  cursor: pointer;
  transition: .2s;
}

.modal_btn_close:hover {
  transform: scale(1.1);
}

.modal_header {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-inline: 3rem;
  border-radius: 20px 20px 0 0;
}

.modal_header_image {
  width: 10rem;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

.modal_header_title {
  font-size: 2rem;
  font-weight: 700;
}

.modal_tracks {
  width: 100%;
  height: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 700;
}

.column_title {
  border-bottom: 1px solid var(--gray);
  padding: 1rem;
}

.column_title_number,
.column_title_name,
.column_title_icon {
  color: var(--gray);
}

.column_title_wrapper_number {
  text-align: right;
}

.column_title_wrapper_icon {
  text-align: left;
}

.column_title, 
.track {
  width: 100%;
  display: grid;
  grid-template-columns: 3rem 1fr 5rem;
  align-items: center;
  grid-column-gap: 2rem;
}

.column_title_number,
.track_number {
  grid-column: 1 / 2;
}

.column_title_name,
.track_name {
  grid-column: 2 / 3;
}

.column_title_wrapper_icon,
.track_duration {
  grid-column: 3 / 4;
}

.tracks_list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.track {
  cursor: pointer;
  transition: .4s;
  border-radius: 15px;
  padding: 2rem 1rem;
}

.track:hover {
  background-color: var(--dark-gray-opacity);
}

.track_number {
  text-align: right;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
}


