.navbar {
  width: 100vw;
  padding: 1rem 8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--dark-gray);
  background: var(--very-dark-gray);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar_wrapper_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar_logo_image {
  width: 6rem;
  height: auto;
}

.navbar_logo_text {
  font-size: 2.5rem;
  font-weight: 800;
}

.navbar_tools {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_search_bar {
  width: 30rem;
  height: 4rem;
}